/*
 * base stylesheet
 */
/*
html,body{width:100%;height:100%;}
.div{padding:0 20px;margin:10px;display:block;font-size:.24rem;height:10rem;border:1px solid red;margin:20px auto;}
*/
.div{padding:0 20px;margin:10px;display:block;border:1px solid red;margin:20px auto;border-width:1px;border-bottom-width:100px;padding:0px auto;}
.div2{font-weight:200;height:300px;}


@media (normalWidth:640px) and (normalMinWidth:320px) and (normalMaxWidth:768px) and (normalPXWidth:100px){

}


.test{font-size:1.4rem;}
.t2{font-size:2rem;margin:0 auto;}

@media (narrow:640px) and (narrow:480px) and (narrow:320px){/*640px iphone h,ipod v*/
    .header{width:100%;height:80px;}
    /*.header .wp-nav{background-color:#247EFF;border-bottom:1px solid #247EFF;}*/
    .header .wp-logo .logo{min-height:60px;background-position:center 10%;}
    .header .wp-logo,.header .wp-nav{width:100%;margin:0;}
    .header .wp-logo,.header .wp-nav,.header .wp-logo .logo{position:relative;top:0;margin:0 auto auto auto;}
    .header .wp-nav{height:40px;position:fixed;top:0;left:0;z-index:1000;}
    .header .wp-nav ul li{padding:1em .5em;}
    .header .wp-nav ul li a{padding:.8em 3em;}
    .wp-nav .nav span{height:10px;top:16px;}
    .header .wp-logo{margin-top:60px;}
    .wp-header{height:60px;}
    .wp-header .wp{width:100%;}
    .wp-header .wp .logo{margin-left:1em;min-width:120px;}
    .wp-header .wp .apply{margin-right:1em;min-width:100px;}
    
    
    .header .wp-logo,.header .wp-nav,.header .wp-logo .logo{position:relative;top:0;margin:0 auto auto auto;}
    .header .wp-logo .logo{margin-left:0;}
    .header .wp-nav{width:60%;margin:0 auto auto auto;}
    .header .wp-nav ul li{padding:1em .5em;}
    .header .wp-nav ul li:first-child span{display:none;}
    .header .wp-nav ul li a{padding:.8em 1em;}
    
    .header{height:120px;}
    
    .footer{margin-top:30px;width:100%;}
    .footer .item{width:33.33%;height:300px;margin-right:0;}
    .footer .item .item-hover.follow a{height:32px;}
    .footer .item .item-show,.footer .item .item-hover{padding:0 2em;}
    .footer .item .title{margin-top:2em;margin-bottom:.4em;}
    .footer .item .title{font-size:1.4em;}
    .footer .item  .text{font-size:1em;padding:.4em 0;line-height:1.4em;}
    .footer .item .item-hover .title{font-size:1.8em;}
    .footer .item:hover .item-hover,.footer .item.active .item-hover,.mobile .footer .item .item-hover{top:-5%;}
    .footer .item .item-hover.follow a .go{left:1em;top:-20px;font-size:1em;}
    .footer .item .item-hover.follow .qr-weixin{position:absolute;left:5em;width:100px;height:100px;}
    .copyright{bottom:0%;}
	
	.wp-error{width:80%;padding:1em;}
	.wp-error .tips{font-size:1.2em;}
	.wp-error .btn.request{font-size:1.6em;}
}